@use '../../../styles' as v;

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Barra superior fija */
app-topbar {
    background-color: v.$topbar-bg;
    color: v.$text-white;
    padding: 8px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: v.$topbar-height;
    z-index: 1000;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
    margin-top: v.$topbar-height;
    height: calc(100vh - v.$topbar-height);
}

app-sidebar {
    width: v.$sidebar-width;
    background-color: v.$sidebar-bg;
    color: v.$text-white;
    position: fixed;
    top: v.$topbar-height;
    left: 0;
    height: calc(100vh - v.$topbar-height);
    z-index: 900;
    transition: transform 0.3s ease-in-out;
}

.sidebar-hidden {
    transform: translateX(-100%);
}

.main-content {
    flex-grow: 1;
    margin-left: v.$sidebar-width;
    background-color: v.$content-bg;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    transition: margin-left 0.3s ease-in-out;
}

.main-content.shifted {
    margin-left: 0;
}

.toggle-sidebar-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: v.$topbar-bg;
    color: v.$text-white;
    border: none;
    padding: 10px;
    font-size: 20px;
    z-index: 1100;
    cursor: pointer;
    border-radius: 30px;
}